.navbar-white .nav-link {
  color: white !important;
  color: rgba(255, 255, 255);
}

.navbar-white .nav-link:hover,
.nav-link:focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-white .nav-link:active {
  color: #0f5132 !important;
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: white;
}

.footer-img {
  width: 100%;
  height: auto;
  max-width: 100px;
}

